*,
*::before,
*::after {
    box-sizing: border-box;
        font-family: Arial, sans-serif;
}

body {
    margin: 0;
    padding: 20px;
    line-height: 1.6;
    text-align: center;
    font-size: 18px;
    border-radius: 10px;
    /* transition: background-color 0.3s ease, color 0.3s ease; */
}
ul {
    display: table;
    margin: 0 auto;
    padding: 0;
}

.light-mode {
    background-color: lightblue;
    color: coral;
    border: 1px solid rgba(255, 127, 80, 0.597);
}
.dark-mode {
    background-color: #333;
    color: #efefef;
    border: 1px solid #cdcdcd;
}

#idselector {
    color: darkblue;
    font-weight: bold;
}